In [16]:
from pprint import pprint
file1 = open('Products.csv', 'r')
Lines = list()
for i in range(10):
    Lines.append( file1.readline())

pprint(Lines)

[',id,product_name,category,product_description,price,location\n',
 '0,243809c0-9cfc-4486-ad12-3b7a16605ba9,"Mirror wall art | in Wokingham, '
 'Berkshire | Gumtree","Home & Garden / Dining, Living Room Furniture / '
 'Mirrors, Clocks & Ornaments","Mirror wall art. Posted by Nisha in Dining, '
 'Living Room Furniture, Mirrors, Clocks & Ornaments in Wokingham. 25 February '
 '2022Size 45x45cm",£5.00,"Wokingham, Berkshire"\n',
 '1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,"Stainless Steel Food Steamer | in '
 'Inverness, Highland | Gumtree",Home & Garden / Other Household Goods,Morphy '
 'Richard’s (model no 48755)Stainless steel 3 tier stackable food steamer9 '
 'litre capacity 1.1 litre rice tray Easy clean and can be used in dishwasher '
 'Ideal for family cookingServes up to 4 personBrand New & never used Still in '
 'original packaging ,£20.00,"Inverness, Highland"\n',
 '2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,"Sun loungers | in Skegness, '
 'Lincolnshire | Gumtree",Home & Garden / Garden & Patio / Outdoor Settings & '
 'Furniture,I have 2 of these - collection only as I don’t drive. £20 Ono '
 ',£20.00,"Skegness, Lincolnshire"\n',
 '3,59948726-29be-4b35-ade5-bb2fd7331856,"Coffee side table from Ammunition '
 'ammo box hairpin legs | in Radstock, Somerset | Gumtree","Home & Garden / '
 'Dining, Living Room Furniture / Other","Great reclaimed army ammunition box '
 'used as coffee side table\n',
 "Original text detail, latch's, leather handle, metal corners - Fantastic "
 'patina!\n',
 'Real statement piece this is a one off as no two boxes the same\n',
 'Black steel 3 prong hairpin legs\n',
 'Total: 40cm (15.5cm) wide\n',
 '43cm (17in) long\n']

Terminates with lines with \n seems to have \r inside fields where the user typed a newline.

Pandas by default uses \r\n - the windows crlf - or \r or \n so we need to tell it just use \n

In [5]:
import pandas as pd
pd.set_option('display.max_columns', None)

df = pd.read_csv(filepath_or_buffer='Products.csv',lineterminator="\n")

df.head()

,Unnamed: 0,id,product_name,category,product_description,price,location
0,0,243809c0-9cfc-4486-ad12-3b7a16605ba9,"Mirror wall art | in Wokingham, Berkshire | Gu...","Home & Garden / Dining, Living Room Furniture ...","Mirror wall art. Posted by Nisha in Dining, Li...",£5.00,"Wokingham, Berkshire"
1,1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,"Stainless Steel Food Steamer | in Inverness, H...",Home & Garden / Other Household Goods,Morphy Richard’s (model no 48755)Stainless ste...,£20.00,"Inverness, Highland"
2,2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,"Sun loungers | in Skegness, Lincolnshire | Gum...",Home & Garden / Garden & Patio / Outdoor Setti...,I have 2 of these - collection only as I don’t...,£20.00,"Skegness, Lincolnshire"
3,3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,"Home & Garden / Dining, Living Room Furniture ...",Great reclaimed army ammunition box used as co...,£115.00,"Radstock, Somerset"
4,4,16dbc860-696e-4cda-93f6-4dd4926573fb,Modern Shannon Sofa for sale at low cost | in ...,"Home & Garden / Dining, Living Room Furniture ...",New Design Shannon Corner sofa 5 Seater Avail...,£450.00,"Delph, Manchester"

In [16]:
#what do we have then?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7156 entries, 0 to 7155
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           7156 non-null   int64
 1   id                   7156 non-null   object
 2   product_name         7156 non-null   object
 3   category             7156 non-null   object
 4   product_description  7156 non-null   object
 5   price                7156 non-null   object
 6   location             7156 non-null   object
dtypes: int64(1), object(6)
memory usage: 391.5+ KB

In [17]:
df = df.drop(columns=["Unnamed: 0"])
df["price"] = df["price"].str.replace('£', '', regex=False)
df["price"] = df["price"].str.replace(',', '', regex=False)
df['price'] = pd.to_numeric(df['price'],errors="coerce")

What Nulls & NAs do we have

In [18]:
df.isnull().sum()

id                     0
product_name           0
category               0
product_description    0
price                  0
location               0
dtype: int64

In [19]:
df.isna().sum()

id                     0
product_name           0
category               0
product_description    0
price                  0
location               0
dtype: int64

Let's see if we can Geocode that location!

In [6]:
import clean_tabular_data
#shorten the data so that we can test in reasonable time
testdf = df.head()
testdf = clean_tabular_data.geoCode(df=testdf,addressColumns="location")
#this will generate SettingWithCopyWarning errors!

d:\AiCore ML Course\facebook-marketplaces-recommendation-ranking-system\clean_tabular_data.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['full_address'] = df[addressColumns]
d:\AiCore ML Course\facebook-marketplaces-recommendation-ranking-system\clean_tabular_data.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['gcode'] = df.full_address.apply(geolocator.geocode)
d:\AiCore ML Course\facebook-marketplaces-recommendation-ranking-system\clean_tabular_data.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['lat'] = [g.latitude for g in df.gcode]
d:\AiCore ML Course\facebook-marketplaces-recommendation-ranking-system\clean_tabular_data.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['long'] = [g.longitude for g in df.gcode]

See if it worked

In [7]:
testdf.head()

,Unnamed: 0,id,product_name,category,product_description,price,location,full_address,gcode,lat,long
0,0,243809c0-9cfc-4486-ad12-3b7a16605ba9,"Mirror wall art | in Wokingham, Berkshire | Gu...","Home & Garden / Dining, Living Room Furniture ...","Mirror wall art. Posted by Nisha in Dining, Li...",£5.00,"Wokingham, Berkshire","Wokingham, Berkshire","(Berkshire, West Berkshire, England, United Ki...",51.453489,-1.031873
1,1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,"Stainless Steel Food Steamer | in Inverness, H...",Home & Garden / Other Household Goods,Morphy Richard’s (model no 48755)Stainless ste...,£20.00,"Inverness, Highland","Inverness, Highland","(Inverness, Highland, Alba / Scotland, IV1 1PQ...",57.479012,-4.225739
2,2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,"Sun loungers | in Skegness, Lincolnshire | Gum...",Home & Garden / Garden & Patio / Outdoor Setti...,I have 2 of these - collection only as I don’t...,£20.00,"Skegness, Lincolnshire","Skegness, Lincolnshire","(Skegness, East Lindsey, Lincolnshire, England...",53.143751,0.342896
3,3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,"Home & Garden / Dining, Living Room Furniture ...",Great reclaimed army ammunition box used as co...,£115.00,"Radstock, Somerset","Radstock, Somerset","(Radstock, Bath and North East Somerset, West ...",51.291949,-2.447623
4,4,16dbc860-696e-4cda-93f6-4dd4926573fb,Modern Shannon Sofa for sale at low cost | in ...,"Home & Garden / Dining, Living Room Furniture ...",New Design Shannon Corner sofa 5 Seater Avail...,£450.00,"Delph, Manchester","Delph, Manchester","(Delph, Station Approach, Dale, Saddleworth, N...",53.563393,-2.021526

Seems to have done.

Let's now check images.csv

In [10]:
df = pd.read_csv(filepath_or_buffer='Images.csv',lineterminator="\n")
df = df.drop(columns=["Unnamed: 0"])
df.head()

                                     id                            product_id
0  912bb259-3ad9-457b-9db1-ce1da9016057  5f5f57d7-778f-4336-bb10-b43863418c8c
1  b166d305-b852-4bdd-83f4-465b20da94fa  5f5f57d7-778f-4336-bb10-b43863418c8c
2  68f5a29d-0075-4d60-81c1-ab684a82e50c  c2c8949f-3cde-4651-a234-4a4a1b2a9ad4
3  f6a309d7-d247-446a-9b5e-aceefdd4334d  c2c8949f-3cde-4651-a234-4a4a1b2a9ad4
4  2c2b3a6f-15b3-4289-937a-15482d9f5781  8292aa4e-7f1b-4655-bf0e-f1f2c9e3ffaf

In [11]:
df.isnull().sum()

id            0
product_id    0
dtype: int64